<div class="row">
  <div ng-include="'partials/menu-fixed.htm'"></div>


  <div class="content" style="margin-top:-20px;">

  		<div ng-include="'partials/navigation.htm'"></div>
      <script src="js/ui-materialize.js"></script>

		<div class="row center-align feed-actions" style="margin-top: 45px;">
			<div class="col s12">

				<button class="btn waves-effect waves-light" type="submit" name="action" ng-click="displayForm1()" style="background-color: cadetblue;">
					Ecrire un nouveau statut <i class="material-icons right">subject</i>
            	</button>

			</div>
		</div>

		  <form class="formulaire valign center" style="" ng-show="form1 == true" ng-class="form1class">
            <div class="row">
              <div class="input-field col s12">
                <textarea id="" class="materialize-textarea" data-length="500" ng-model="post_content"></textarea>
                <label for="" class="" style="width:100%;">Publier un nouveau statut</label>
              </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="publier()" style="margin-bottom:20px;">
				Publier <i class="material-icons right">send</i>
        	</button>

          <p class="hint valign center {{hint_status}}" ng-show="hint != ' '">
            <i class="material-icons" aria-hidden="true">{{hint_status}}</i>{{hint}}</p>

          </form>


	  	<div ng-repeat="(key, item) in posts">

	  		<div class="row valign-demo valign-wrapper" style="background-color: white; margin-top:30px; width:90%; box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);" ng-class="feed-posts">
                <div class="col s12">
                    <img ng-src="{{item.imgPath}}" style="height: 25px; margin-right: 10px; display: inline; vertical-align: bottom; margin-top: 15px; margin-bottom: 15px;"><p class="valign" style="display: -webkit-inline-box;">{{item.pseudo}} <i class="twa twa-{{item.flag}}-flag"></i></p>
                    <p class="post valign" style="margin-top: auto; word-wrap: break-word; -moz-hyphens:auto; -webkit-hyphens:auto; -o-hyphens:auto; hyphens:auto;">{{item.content}}</p>
                </div>                        
        </div>

            

      </div>

  </div>

  <script src="js/emoji.js"></script>
  
</div>
