<div class="row">
  <div ng-include="'partials/menu-fixed.htm'"></div>


  <div class="content" style="margin-top:-20px;">

  		<div ng-include="'partials/navigation.htm'"></div>
		<script src="js/ui-materialize.js"></script>

		<div class= "games-section">
			<div class="row">

				<div ng-repeat="game in games">
					
					<div class="col s4 m3 l2">
						<div class="card">
						    <div class="card-image" ng-style="{'background-image':'url({{game.imgPath}})'}">
						    </div>
						    <div class="card-content" style="">
						    	<div class="card-text valign-wrapper" style="width: 100%; height: 70%;">
								    <span class="card-title valign" style="width: 100%; line-height: inherit;">{{game.name}}</span>
								</div>
								<div class="card-text" style="width: 100%; height: 30%;">
								    <p class="games-like valign-wrapper" style="width: 100%; height:100%;">
								    	<i class="material-icons" style="color: gold; width:100%;">bookmark_border</i><i class="material-icons" style="color: coral;  width:100%;">favorite_border</i>
								    </p>
								</div>
						    </div>	
						</div>
					</div>
					


				</div>

			</div>
		</div>

  </div>
  
</div>

