<div class="row" style="margin-bottom: inherit;">
  <div ng-include="'partials/menu-fixed.htm'"></div>

  <div class="content" style="margin-top:-20px;">

    <div ng-include="'partials/navigation.htm'"></div>
    <script src="js/ui-materialize.js"></script>

    <div class="parallax-container valign-wrapper" style="min-height=100vh;padding-top: 120px;padding-bottom: 120px;min-height: 500px;">
        <div class="parallax"><img src="images/giphy2.gif"></img></div>
        <div class="banniere valign-wrapper">
        </div>
        <div class="row valign-demo valign center formulaire" style="background-color: white;padding-left: 20px;padding-right: 20px;padding-top: 30px;padding-bottom: 30px; margin-top:60px; max-width: 90vh; width:80%;">
            <h5 class="valign">Connexion</h5>
        <form class="col s12" action="/vue/index.html#/" METHOD="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" name="email" ng-model="email">
                    <label for="email">Email</label>
                </div>
            </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" name="password" ng-model="password">
              <label for="password">Mot de passe</label>
            </div>
          </div>

        <div class="hint valign center {{hint_status}}" ng-show="hint != null" style="padding-top: 0px; padding-bottom: 0px;">
            <p class="hint valign center {{hint_status}}">
                <i class="material-icons" aria-hidden="true">{{hint_status}}</i>
                {{hint}}
            </p>
        </div>

            <button class="btn waves-effect waves-light" type="submit" name="action" value="connecter" style="margin-top: 15px;" ng-hide="hint_status == 'check_circle'">Se connecter
                <i class="material-icons right">person</i>
            </button>

                <div class="preloader-wrapper small active" ng-show="hint_status == 'check_circle'" style="margin-top: 15px;">
                    <div class="spinner-layer spinner-green-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                                <div class="circle"></div>
                        </div><div class="circle-clipper right">
                        <div class="circle"></div>
                        </div>
                    </div>
                </div>
          
        </form>
      </div>

    </div>

</div>

  </div>
  
</div>

